<div id = "alert" class="alert alert-success alert-danger fade show" role="alert" style="position:fixed ; width:175vh ; z-index: 99 !important ; " >
        <strong><%= alert %> </strong>
        <button id = "close" type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
        </button>
    </div>