<footer class="page-footer red">
    <div class="container">
      <div class="row">
        <div class="col l6 l12">
          <h5 class="white-text">TC2005B</h5>
          <p class="grey-text text-lighten-4">Construcción de software y toma de decisiones.</p>
        </div>
        <div class="col l4 offset-l2 l12">
        </div>
      </div>
    </div>
    <div class="footer-copyright">
      <div class="container">
      © No hay copyright porque soy pobre
      </div>
    </div>
  </footer>
  <script>
    var show = true;

    function showCheckboxes() {
        var checkboxes = 
            document.getElementById("checkBoxes");

        if (show) {
            checkboxes.style.display = "block";
            show = false;
        } else {
            checkboxes.style.display = "none";
            show = true;
        }
    }
</script>
</body>