</div>
</div>
<footer class="site-footer">   
    <div class="container-footer">
        <div class="row">
            <div class="col-sm-6 pt-4 pl-5 ">
                <img src="/media/FWPNGB&W.png" alt="Logo Forthware" class="pr-3" style="height: 25px; ;">
              
                    <a href="#" class="text-white" type="button">Hecho por Forthware</a>

            </div>
            <div class="col-sm-3">
            </div>
            <div class="col-sm-3">
                <h3>Redes sociales</h3>
                    <li><a href="https://es-la.facebook.com/Natgas.GNV" type="button">Facebook</a></li>
                    <li><a href="https://twitter.com/Natgas_GNV" type="button">Twitter</a></li>
            </div>
        </div>
    </div>
</footer>