<footer class="page-footer red">
    <div class="container">
      <div class="row">
        <div class="col l6 l12">
          <h5 class="white-text">TC2005B</h5>
          <p class="grey-text text-lighten-4">Construcción de software y toma de decisiones.</p>
        </div>
        <div class="col l4 offset-l2 l12">
        </div>
      </div>
    </div>
    <div class="footer-copyright">
      <div class="container">
      © No hay copyright porque soy pobre
      </div>
    </div>
  </footer>
  <script src="/js/checkbox.js"></script>
</body>