<header>
    <nav class="navbar navbar-light main-nav justify-content-between navbar-expand-lg">
        <a class="navbar-brand" href="/user/main">
            <img src="/media/natgas-logo-simple.png" width="60" height="60" class="d-inline-block align-top logo" alt=" Logo NatGas">
            </a>
        <form class="form-inline" style="display: -webkit-box; box-sizing: content-box; ">
            <h3 class="rolnav " style="display:block;width:auto; font-size: 100%;"> Coordinador : Manuel Flores </h3>
            <!--Campo dependiente de el ususario ingresado-->
            <input type="hidden" name="_csrf" id="_csrf" value="<%= csrfToken %>" >
            <li class="nav-item dropdown">
                <a class="nav-link " id="navbarDropdown" href="#" role="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                     <i class="material-icons iconSide pb-1" style="display:block ; width:auto; font-size: 40px; " >account_circle</i></a>
                <div class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item text-white" id="camilo" data-toggle="modal" data-target="#exampleModal" onclick = "mostrarperfilpersonal(id)">Perfil</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="/logout">Logout</a>
                </div>
            </li>
        </form>
    </nav>
</header>
<div class="d-flex" id="wrapper">
    