<nav>
    <div class="nav-wrapper red">
      <a href="#" class="brand-logo ">TC2005B </a>
      <ul id="nav-mobile" class="right hide-on-med-and-down">
        <%if(isLoggedIn){ %> 
          <li><a>Laboratorio 17</a></li>
          <li><a>Carlos Adrián García Estrada </a></li>
          <li><a>A01707503</a></li>
          <li><a href="/jugadores/new">Crear Jugador</a></li>
          <li><a href="/jugadores/lista">Jugadores</a></li>
          <li><a href="/user/logout">Salir</a></li>
        <%} %> 
      </ul>
    </div>
  </nav>