<header>
    <nav class="navbar navbar-light main-nav justify-content-between navbar-expand-lg">
        <a class="navbar-brand" href="/user/main">
            <img src="/media/natgas-logo-simple.png" width="60" height="60" class="d-inline-block align-top logo" alt=" Logo NatGas">
            </a>
        <form class="form-inline" style="display: -webkit-box;; box-sizing: content-box;">
            <h2 class="rolnav2" style="display:block ;width:auto;"> Gestor de Proyectos Natdev </h2>
            
        </form>
    </nav>
</header>
<div id="wrapper">