<div class="sidebar">
    <ul class="opsidebar">
          <li id="option1"><a href="/jugadores/new">Crear Jugador</a></li>
          <li id="option2"><a href="/jugadores/lista">Jugadores</a></li>
          <li id="option3"><a href="/labs/lab17">Jugar</a></li>
          <li id="option4"><a href="/labs/lab17">Jugar</a></li>
      </ul>
</div>