<% if (etiquetas=="") { %>
    <form action="crearEtiqueta" method="POST">
<% } else { %>
    <form action="/proyectos/editarEtiqueta" method="POST">
<%}%>
    <input type="hidden" name="_csrf" value="<%= csrfToken %>" >
    <fieldset class="pl-4">
        <legend class="p-2">Datos de la etiqueta</legend>

        <div class="pl-5">
                <label for="nombre">Nombre: </label>
                <input id="nombre" name="nombre" maxlength="40" type="text" required>
                <input id="id" name="id" type="hidden" value="<%= etiquetas.id_proyecto %>">
                
        </div>    
    </fieldset>
    <div class="row pt-4">
        <div class="col-sm-2 mx-auto">
            <input type="submit" class="btn btn-primary mx-5" class="btn" value="Confirmar">
        </div>
        <div class="col-sm-4 mx-auto">
            <!-- Button trigger modal -->
            <button type="button" class="btn btn-danger mx-5" data-toggle="modal" data-target="#exampleModal">
                Eliminar
            </button>
        </div>
    </div>         
    <%- include('../modal.ejs') %> 
</form>
