<h1>Acceder</h1>
<form action="login" method="POST">
    <fieldset>
        <legend>Datos del usuario</legend>
            <label for="correo">Correo electronico</label>
            <input placeholder="Pinguino Rodriguez" id="correo" name="correo" type="text" required>
            <label for="password">Password</label>
            <input placeholder="***" id="password" name="password" type="password" required>
            
    </fieldset>
    <br>
    <input type="submit" class="btn" value="Entrar">
</form>