<h1>Acceder</h1>
<form action="crearProyecto" method="POST">
    <fieldset>
        <legend>Datos del usuario</legend>
            <input placeholder="Oasis" id="nombre" name="nombre" type="text" required>
            <label for="nombre">Nombre: </label>
            <input placeholder="¿Qué se va a hacer?" id="descripcion" name="descripcion" type="text" required>
            <label for="descripcion">Descripción: </label>
            <input placeholder="¿Qué tecnologías se van a utilizar?" id="stack" name="stack" type="text" required>
            <label for="stack">Stack de tecnologías: </label>
            <input placeholder="¿Qué prioridad la das al proyecto?" id="importancia" name="importancia" type="text" required>
            <label for="importancia"> Importancia: </label>
            <input placeholder="¿En qué etapa de desarrollo se encuentra el proyecto?" id="estatus" name="estatus" type="text" required>
            <label for="estatus"> Estatus: </label>
            <input placeholder="Añade una imagen representativa del proyecto" id="imagen" name="imagen" type="text" required>
            <label for="imagen"> Imagen: </label>        
    </fieldset>
    <br>
    <input type="submit" class="btn" value="Crear">
</form>