
<% const importancia = ["Alto", "Medio", "Bajo"] %>
<% const estatus = ["Planficación", "Análisis", "Diseño","Desarrollo", "Pruebas","Mantenimiento"] %>

<form action="crearProyecto" method="POST">
    <fieldset>
        <legend>Datos del proyecto</legend>
            <label for="nombre">Nombre: </label>
            <input placeholder="Oasis" id="nombre" name="nombre" type="text" required>
            <label for="descripcion">Descripción: </label>
            <input placeholder="¿Qué se va a hacer?" id="descripcion" name="descripcion" type="text" required>
            <label for="stack">Stack de tecnologías: </label>
            <input placeholder="¿Qué tecnologías se van a utilizar?" id="stack" name="stack" type="text" required>
            <div class="input-field col s12">
                <select name="importancia" id="importancia">
                    <option value="" disabled selected>¿Que prioridad le das al proyecto?</option>
                    <% for (let i of importancia) { %>
                        <option value="<%= i %>"><%= i %></option>
                    <% } %>
                </select>
                <label for="importancia">Importancia</label>
            </div>
            <div class="input-field col s12">
                <select name="estatus" id="estatus">
                    <option value="" disabled selected>¿En qué etapa de desarrollo se encuentra el proyecto?</option>
                    <% for (let e of estatus) { %>
                        <option value="<%= e %>"><%= e %></option>
                    <% } %>
                </select>
                <label for="estatus">Estatus</label>
            </div>
            <label for="imagen"> Imagen: </label>       
            <input placeholder="Añade una imagen representativa del proyecto" id="imagen" name="imagen" type="text" required> 
    </fieldset>
    <br>
    <input type="submit" class="btn" value="Crear">
</form>