

    <input type="hidden" name="_csrf" id="_csrf" value="<%= csrfToken %>" >
    <input type="hidden" name="csrf_" id="csrf_" value="<%= csrfToken %>" >
<fieldset>
    <legend>Datos del reporte</legend>
    <div class="input-field">

    <label for="fecha_inicio"> Fecha de inicio: </label>    
    <input id="fecha_inicio" name="fecha_inicio" type="date" required> 
    <label for="fecha_fin"> Fecha de corte: </label>    
    <input id="fecha_fin" name="fecha_fin" type="date" required> 
    
    </div>
    <br><br>
    <h5>Personal</h5>
    <table>
        <tr>
            <td><label for="completo">Tiempo completo: </label></td>
            <td><input id="completo" name="completo" min="0" max="100" type="int"  value = 12 required></td>
        </tr>
        <tr>
            <td><label for="medio">Tiempo medio: </label></td>
            <td><input id="medio" name="medio" min="0" max="100" type="int" value = 6 required></td>
        </tr>
        <tr>
            <td><label for="completo">Horas esperadas semanales tiempo completo: </label></td>
            <td><input id="horascompleto1" name="horascompleto1" min="0" max="100" type="int" value = 35 required></td>
        </tr>
        <tr>
            <td><label for="completo">Horas esperadas semanales tiempo medio: </label></td>
            <td><input id="horasmedio1" name="horasmedio1" min="0" max="100" type="int"  value= 18 required></td>
        </tr>
        <tr>
            <td><label for="efectividad">Efectividad: </label></td>
            <td><input placeholder="85% " id="efectividad1" name="efectividad1" min="50" max="100" type="int" value = 85  required></td>
            <td>%</td>
        </tr>
    </table>

    <h5>Personal en ausencia</h5>
    <table>
        <tr>
            <td><label for="completo">Tiempo completo: </label></td>
            <td><input id="ausentescompleto" name="ausentescompleto" min="0" max="100" type="int" value = 1 required></td>
        </tr>
        <tr>
            <td><label for="medio">Tiempo medio: </label></td>
            <td><input id="ausentesmedio" name="ausentesmedio" min="0" max="100" type="int" value = 2  required></td>
        </tr>
    </table>

    <br><br>
    <div id="lista_proyectos">
        <table>
            <% let proyectos = ['Proyecto 1', 'Proyecto 2']; %>
            <tr>
                <th>Proyectos</th>
                <th>Horas hombre</th>
                <!-- <th>Horas ajustadas</th> -->
            </tr>
            <% if (proyectos.length > 0) { %>
                    <% for (let  p of proyectos) { %>
                        <tr>
                        <td>
                        <p><%= p %></p>
                        </td>
                        <td>horas</td>
                        <td><label for="proyectos_horas_adj"></label>
                        <input placeholder="500" id="proyectos_horas_adj" name="proyectos_horas_adj" type="int" required></td></td> 
                        </tr>
                    <% } %>
                
                <% } else { %>
                    <h2>No hay proyectos registrados</h2>
                <% } %> 
            <tr>
                <% let horasajutadas = 220 %>
                <td>Total:</td>
                <td>horas suma</td>
                <td><%= horasajutadas %></td>
            </tr>
        </table>
    </div>

    <br>
    
    <div id="preview">
           
    </div>
    
</fieldset>

<br>
<input type="submit" class="btn btn-success" value="Generar" onclick = "postreportes()" >

<div id="preview">
    
</div>  

<button class="btn btn-info" onclick = "calculate()">Actualizar Datos</button>

<script src="/js/calculate.js" ></script>
<script src="/js/postreportes.js" ></script>

