<%- include('includes/head.ejs') %>
<%- include('includes/nav.ejs') %>      
<%- include('includes/sidebar.ejs') %>   

<h1>Generar reporte</h1>
    
    <div class="p-3">
    <h3>Reporte semanal</h3>
    <%- include('includes/forms/reportes.form.ejs') %>  

    <a href="/reportes/main" class="btn btn-danger" button type="button">Cancelar</a> 
    </div>


    <script>
        let iterar = -1;
        const accion_asincrona = () => {

            const fecha_fin = document.getElementById('fecha_fin').value;
            const fecha_inicio = document.getElementById('fecha_inicio').value;

            data = new Object ();

            data.fecha_fin=fecha_fin;
            data.fecha_inicio=fecha_inicio;

            const csrf = document.getElementById('_csrf').value;
        
            fetch('/reportes/buscar', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json',
                    'csrf-token': csrf  
                },
                body: JSON.stringify(data),
            }).then(result => {
                return result.json(); //Regresa otra promesa
            }).then(data => {
                //Modificamos el DOM de nuestra página de acuerdo a los datos de la segunda promesa
                let html = '';

                html += '<table>';
                html += '<tr>';
                html += '<th>Proyectos</th>';
                html += '<th>Horas hombre</th>';
                html += '<th>Ajuste de horas hombre</th>';
                // html += '<th>Horas ajustadas</th>';
                html += '</tr>';
                    let horas =0;
                if (data.proyectos.length > 0) {
                    let count= 0;
                    for (p of data.proyectos) {
                        horas = p.horas + horas;
                        html += '<tr>';
                        html += '<td>';
                        html += '<p>';
                        html += p.nombre;
                        html += '</p>';
                        html += '</td>';
                        html += '<td>';
                        html += p.horas.toFixed(2);
                        html += '</td>';
                        html += '<td><label for="proyectos_horas_adj2"></label>';
                        html += '<input placeholder="500" id= "proyectos[' +count+']" name="proyectos[' +count+']" type="number" step = 0.1 value = "' + p.horas.toFixed(2)+ '" min = 0.1 max = 1000 required></td></td>';
                        html += '</tr>'; 
                        count++;
                    }  

                    iterar = count;

                } else {
                    html += '<h2>No hay proyectos registrados</h2>';                
                }
                html += '<tr>';
                html += '<td>Total:</td>';
                html += '<td><label for="horas_hombre"></label>';
                html += horas.toFixed(2);
                html += '</td>';
                html += '<td><int id="horas_hombre" name="horas_hombre" type="double"></td>';
                html += '</tr>';
                html += '</table>';

                document.getElementById("lista_proyectos").innerHTML = html;
            }).catch(err => {
                console.log(err);
            });
        };

        // const accion_asincrona2 =() =>{ 
        //     const tiempo_completo = document.getElementById('completo').value;
        //     const tiempo_medio = document.getElementById('medio').value;
        //     const horas_ausencia = document.getElementById('horas_ausencia_').value;
        //     const eficiencia = document.getElementById('efectividad').value;

        //     data=new Object()

        //     data.tiempo_completo = tiempo_completo;
        //     data.tiempo_medio = tiempo_medio;
        //     data.horas_ausencia = horas_ausencia;
        //     data.eficiencia = eficiencia;

        //     const csrf = document.getElementById('csrf_').value;

        //     fetch('/reportes/suma_completo', {
        //         method: 'POST',
        //         headers: {
        //             'Content-Type': 'application/json',
        //             'csrf-token': csrf  
        //         },
        //         body: JSON.stringify(data),
        //     }).then(result => {
        //         return result.json(); //Regresa otra promesa
        //     }).then(data => {
        //         //Modificamos el DOM de nuestra página de acuerdo a los datos de la segunda promesa
        //         let html = '';
        //         html += '<table>';
        //         html += '<tr>';
        //         html += '<th>Valores</th>';
        //         html += '<th>Horas</th>';
        //         html += '</tr>';
        //         html += '<tr>';
        //         html += '<td>Tiempo completo</td>';
        //         html += '<td><label for="suma_completo"></label>';
        //         html +=  value1= data.completos.tiempo_completo * 35;
        //         html += '</td>';
        //         html += '</tr>';
        //         html += '<tr>';
        //         html += '<td>Tiempo medio</td>';
        //         html += '<td><label for="suma_medio"></label>';
        //         html += value2= data.completos.tiempo_medio * 18;
        //         html += '</td>';
        //         html += '</tr>';
        //         html += '<td>Horas base</td>';
        //         html += '<td><label for="horas_base"></label>';
        //         html += horasbase= value1 + value2;
        //         html += '</td>';
        //         html += '<td><int id="horas_base" name="horas_base" type="int"></td>';
        //         html += '</tr>';
        //         html += '<tr>';
        //         html += '<td>Horas ausencia</td>';
        //         html += '<td><label for="horas_ausencia"></label>';
        //         html += horas_ausencias= data.completos.horas_ausencia;
        //         html += '</td>';
        //         html += '<td><int id="horas_ausencia" name="horas_ausencia" type="int"></td>'
        //         html += '</tr>';
        //         html += '<tr>';
        //         html += '<td>Horas habiles</td>';
        //         html += '<td><label for="horas_base"></label>';
        //         html += horasesperadas = horasbase - horas_ausencias;
        //         html += '<td><int id="horas_base" name="horas_base" type="int"></td>'
        //         html += '</td>';
        //         html += '</tr>';
        //         html += '</table>';

            
        //         document.getElementById("suma_completo").innerHTML = html;
        //     }).catch(err => {
        //         console.log(err);
        //     });
   
        // };

        // const accion_asincrona3 =() =>{ 
        //     const horas_ajustadas = document.getElementById('proyectos_horas_adj[]').value;

        //     data= new Object()

        //     data.tiempo_completo = tiempo_completo;

        //     console.log(data)

        //     const csrf = document.getElementById('_csrf').value;

        //     fetch('/reportes/horas_hombre', {
        //         method: 'POST',
        //         headers: {
        //             'Content-Type': 'application/json',
        //             'csrf-token': csrf  
        //         },
        //         body: JSON.stringify(data),
        //     }).then(result => {
        //         return result.json(); //Regresa otra promesa
        //     }).then(data => {

        //         let html = '';

        //         html += '<table>';
        //         html += '<tr>';
        //         html += '<td><label for= "horas_hombre">Horas hombre</label>';
        //             let horas_hombre;
        //             for (let p of proyectos_horas_adj){
        //                 horas_hombre += p.Horas;
        //             }

        //             console.log(horas_hombre);

        //         html +=  horas_hombre;
        //         html += '</td>';
        //         html += '<td><int id="horas_hombre" name="horas_hombre" type="int"></td>';
        //         html += '</tr>';
        //         html += '<tr>';
        //         html += proporcion_horas = horasajustadas/horasesperadas;
        //         html += verdadero = 95/100
        //         html += '<td><label for="Efectividad_ajustada">Efectividad ajustada</label>';
        //         html += efectividad = (proporcion_horas/verdadero).toFixed(2);
        //         html += '</td>';
        //         html += '</table>';


        //         document.getElementById("horas_hombre").innerHTML = html;
        //     }).catch(err => {
        //         console.log(err);
        //     });

        // };

        document.getElementById('fecha_fin').oninput = accion_asincrona;

        // document.getElementById('efectividad').oninput = accion_asincrona2;

        // document.getElementById('proyectos_horas_adj').oninput = accion_asincrona3;
        // var horashombre = 0;    
        // function calcularHoras () {
        //     horashombre = horashombre + document.getElementById("proyectos_horas_adj2").value;
        
        // }

    </script>