<%- include('includes/head.ejs') %>
<%- include('includes/navD.ejs') %>   
<%- include('includes/sidebar.ejs') %>   


<h1>Crear reporte</h1>

<a href="/reportes/main" button type="button">Cancelar</a> 


