<%- include('includes/head.ejs') %>
<%- include('includes/navD.ejs') %>   
<%- include('includes/sidebar.ejs') %>   

<h1>Generar reporte</h1>
    <div class="p-3">
    <h3>Reporte semanal</h3>
    <%- include('includes/forms/reportes.form.ejs') %>  
    </div>


