<%- include('includes/head.ejs') %>
<%- include('includes/nav.ejs') %>   
<%- include('includes/sidebar.ejs') %>   
            <h1 class="p-2" >Pagina Principal</h1>
            <div class="p-3">
                <h3>Proyectos activos</h3>
                <p >
                    Make sure to keep all page content within the
                    <code>#page-content-wrapper</code>
                </p>
                <ul>
                </ul>
            </div>

        </div>
    </div>  
    
<%- include('includes/foot.ejs') %> 