<%- include('includes/head.ejs') %>
<%- include('includes/nav.ejs') %>
<%- include('includes/side.ejs') %>
<h1>Entraste a proyectos</h1>
<div>
        <% if (privilegios.indexOf('Crear proyecto') > -1) { %>
                <a href="/proyectos/crearProyecto" button type="button">Crear proyecto</button>
        <% } %>  
</div>
