<%- include('includes/head.ejs') %>
<h1>Entraste a proyectos</h1>
    <% if (proyectos.length > 0) { %>
        <div>
            <% for (let  p of proyectos) { %>
                <a href="#!" ><%= p.nombre %></a>
            <% } %>
            </div>
    <% } else { %>
        <h2>No hay proyectos registrados</h2>
    <% } %>  
<%- include('includes/foot.ejs') %>
<div>
        <% if (privilegios.indexOf('Crear proyecto') > -1) { %>
                <a href="/proyectos/crearProyecto" button type="button">Crear proyecto</button>
                <!-- <a href="/proyectos/crearEtiqueta" button type="button">Crear etiqueta</button> -->
        <% } %>  
</div>
