<%- include('includes/head.ejs') %>
<%- include('includes/navD.ejs') %>   
<%- include('includes/sidebar.ejs') %>   
<div>
    <h3>Entraste a reportes</h3>
</div>


<a href="/user/crearReporte" button type="button">Crear reporte</button>

