<%- include('includes/head.ejs') %>
<%- include('includes/nav.ejs') %>   
<%- include('includes/sidebar.ejs') %>   
<div>
    <h3>Entraste a reportes</h3>
</div>

<h3>Reportes</h3>
    <% if (reportes.length > 0) { %>
        <div class="p-3">
            <% for (let  r of reportes) { %>
                <div class="col-sm-3 p-2">
                    <div class="card" style="width: 16rem;height: 25rem ; ">
                        <img src="/media/FWPNGB&W.png" class="card-img-top" alt="">
                        <div class="card-body textBlack">
                        <h5 class="card-title "><a href="""><% r.id_reporte %></a></h5>
                    </div>
                    </div>
                </div>
            <% } %>
        </div>
    <% } else { %>
        <h2>No hay reportes registrados</h2>
    <% } %>  
<br>

<a href="/reportes/crearReporte" class="btn btn-success" button type="button">Crear reporte</button>

