<%- include('includes/head.ejs') %>
<%- include('includes/nav.ejs') %>
<%- include('includes/side.ejs') %>
<br>
<br>
<br>
<br>
<div>
    <h3>Entraste a reportes</h3>
</div>


<a href="/user/crearReporte" button type="button">Crear reporte</button>

