<%- include('includes/head.ejs') %>
<h1>Entraste a tareas</h1>

<div>
    <% if (privilegios.indexOf('Agregar Tarea') > -1) { %>
            <a href="/tareas/crearTarea" button type="button">Crear tarea</button>
    <% } %>  
</div>