body{
    background: #343A40;
    font-family: 'Inter';
    font-style: bolder;
    color: white;
}


h1{
    font-family: "Inter", Extra Bold, monospace;
    color: white;
}

h3{
    font-family: "Inter", Extra Bold, monospace;
    color: white;
}   

h2{
    font-family: "Inter", Extra Bold, monospace;
    color: white;
}   

.main-nav{
    background: #2C496A;
    border: solid 0.1em #54B347;
    border-top: hidden;
    border-left: hidden;
    border-right: hidden;
    display: flex;
    align-items: center;
    text-align: center;
    padding: .5rem 1rem;
}

.dropdown-menu{
    background: #25282B;
    
}
.dropdown-item{
    color: #FFFF;
}
.dropdown-divider{
    border-top: 2px solid var(--bs-dropdown-divider-bg);
    opacity: 1;
}

.sidebar{
    position:fixed;
    width: 190px;
    height: 964px;
    top: 80px;
    background: #25282B;
    min-height: 100vh;
}
#sidebar-wrapper {
    min-height: 100vh;
    

}
.border-end {
    border-right: 3px solid #50575F !important;
}

.bg-white {
    --bs-bg-opacity: 1;
    background-color:#25282B !important;
}


.p-2 {
    padding-top: 1rem !important;
    
}
.p-3 {
    padding: 1rem !important;
    padding-left: 2rem !important;
    padding-right: 3rem !important;
}

.colorB{
    color: black;
}

.p-5 {
    padding: 1rem !important;
    padding-left: 2rem !important;
    padding-right: 3rem !important;
    align-items: center;
    justify-content: center;
    text-align: center;
}
.centered1 {

    align-items: center;
    justify-content: center;
    text-align: center;
}

.card{
    
    color: black;
    background-color: #2C496A !important;
}

.iconSide{
    margin-right: 10px; 
    vertical-align: middle;
}

.list-group {
    display: flex;
    flex-direction: column;
    padding-left: 0;
    margin-bottom: 0;
    border-radius: 0.25r;
    width: max-content;
}

.list-group-flush {
    border-radius: 0;
}

.list-group-item {
    position: relative;
    display: block;
    padding: 0.5rem 1rem;
    color: #FFFF;
    text-decoration: none;
    background-color:#25282B;
}

.list-group-item-action {
    width: 100%;
    color: #FFFF;
    text-align: inherit;
}

.list-group-main {
    position: relative;
    display: block;
    color: #FFFF;
    text-decoration: none;
    background-color:#25282B;
}


.logo{
    /*position: absolute;
    width: auto;
    height: 86px;*/
    margin-left: 20px;
    filter: drop-shadow(6px 5px 4px rgba(0, 0, 0, 0.35));
}

li {
    list-style-type: none;
}

.rolnav{

    font-size: large;
    padding-right: 20px;
    position: relative;
    display: block;
    padding: .45rem 1rem;
}

.rolnav2{

    font-weight: bold;
    font-size: 45px;
    padding-right: 20px;
    display: block;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.opsidebar{
    font-family: 'Inter';
    font-style: bolder;
    font-size: 20px;
    color: white;
    position: absolute;
    top: 27px;
}
.anyClass {
    height: 32rem;
    /* width: 10rem !important; */
    overflow-y: scroll;
}


.modal-content {
    background-color:#25282B;
}


.parent {
    position: relative;
    top: 0;
    left: 0;
}
.image1 {
position: relative;

}
.image2 {
position: absolute;
bottom: 20px;
left: 60px;
/* border: 1px rgb(0, 0, 0) solid; */
}

.image3 {
position: absolute;
bottom: 20px;
right:60px;
/* border: 1px rgb(0, 0, 0) solid; */
}
.circle-image{

    width: 60%;
    height: 200px;
    text-align: center;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
}

.circular--landscape {
    display: inline-block;
    position: relative;
    width: 160px;
    height: 160px;
    overflow: hidden;
    border-radius: 50%;
  }
  
  .circular--landscape-img {
    width: auto;
    height: 100%;
    margin-left:-50%;
  }

  